:root {
    --background-color: #0066B5;
    --button-color: #FF9D00;
    --button-hover-color: #004a80;
    --primary-text-color: #333;
    --secondary-text-color: #6c757d;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text-color);
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
[dir="rtl"] h2, [dir="rtl"] h3 {
    text-align: right;
   
}
[dir="rtl"] .main-content p:last-of-type {
    margin-bottom: 30px;
    text-align: right;
    max-width: 800px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}
body.arabic {
    direction: rtl;
}
.container-footer {
    width: 100%;
    background-color: var(--background-color);
    padding: 20px 0;
    text-align: center;
}

#footer p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.footerfr::before{
    content: "© All Rights reserved to Jawhara Mobile";
    color: white;
    font-size: 15px;
}
.footerar::before{
    content: "© جميع الحقوق محفوظة لدى جوهرة موبايل ";
    color: white;
    font-size: 15px;
}
#steps-list {
    list-style-type: none;
    padding: 0;
    line-height: 1.6;
}

#steps-list > li { /* Only targets direct children of #steps-list */
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
}
:dir(rtl) #steps-list > li{ /* Only targets direct children of #steps-list */
    position: relative;
    padding-right: 40px;
    margin-bottom: 15px;
}

/* Set each main step with a different icon */
#steps-list > li:nth-child(1)::before {
    background-image: url('../images/Groupe 18203.png');
}

#steps-list > li:nth-child(2)::before {
    background-image: url('../images/Groupe 18204.png');
}

#steps-list > li:nth-child(3)::before {
    background-image: url('../images/Groupe 18205.png');
}

#steps-list > li:nth-child(4)::before {
    background-image: url('../images/Groupe 18206.png');
}
:dir(ltr) #steps-list > li::before {
    left: 0;
}

:dir(rtl) #steps-list > li::before {
    right: 0;
}
#steps-list > li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* For nested list items (like in step 2) */
#steps-list li ul {
    padding-left: 20px;
    margin-top: 10px;
    list-style-type: disc; /* Optional: Restore default bullet points */
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.form-card {
    position: relative;
    background-color: #e5eff8; 
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px;
    margin: 2rem auto; 
}

.header {
    background-color: var(--background-color);
    color: white;
    padding: 15px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header-content .logo img {
    width: 150px;
}

.language-switcher button {
    background-color: #fff;
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.language-switcher button:hover {
    background-color: var(--button-hover-color);
    color: #fff;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px; 
    margin: 0 auto;
    width: 100%;
}

.main-content h1 {
    font-size: 25px;
    color: #264653;
    text-align: center;
    margin-bottom: 20px;

}

.main-content p {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
    max-width: 800px;
    font-weight: bold;
}

.main-content h2 {
    font-size: 16px;
    color: #264653;
    margin-bottom: 15px;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    max-width: 800px;
    margin-left: 0; 
}

.main-content ol {
    padding-left: 20px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;
}

.main-content ol li {
    margin-bottom: 15px;
    font-size: 14px;
}

.main-content ol li ul {
    padding-left: 20px;
    margin-top: 10px;
}

.main-content ol li ul li {
    margin-bottom: 10px;
    font-size: 0.95em;
}

/* Top-left image styling */
.top-left-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px; /* Adjust size as needed */
    height: auto;
    z-index: 1; /* Ensures it stays above the background */
}

/* Bottom-right image styling */
.bottom-right-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 80px; /* Adjust size as needed */
    height: auto;
    z-index: 1; /* Ensures it stays above the background */
}
.note {
    font-style: italic;
    color: var(--secondary-text-color);
    margin-top: 10px;
    max-width: 800px;
    width: 100%;
    text-align: left;
}

.main-content h3 {
    font-size: 16px;
    color: #264653;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    max-width: 800px;
    margin-left: 0; 
}

.main-content ul {
    padding-left: 20px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;
}

.main-content ul li {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.6;
}

.main-content p:last-of-type {
    margin-bottom: 30px;
    text-align: left;
    max-width: 800px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

.form-button {
    display: block;
    width: 30%;
    padding: 20px;
    background-color: var(--button-color);
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin: 30px auto;
}

.form-button:hover {
    background-color: var(--button-hover-color);
}

.main-content[dir="rtl"] p:last-of-type {
    margin-bottom: 30px;
    text-align: right;
    max-width: 800px;
    width: 100%;
}

.card-container {
    background-color: #0066B5; /* Blue background color */
    padding: 10px; /* Padding for the entire card */
    border-radius: 12px; /* Rounded corners for the outer card */
    color: #ffffff; /* White text color */
    max-width: 700px; /* Optional: set a max width for the card */
    margin: 20px auto; /* Center the card horizontally */
}

/* Inner list styling */
#important-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    line-height: 0.9;
    font-size: 13px;
}

/* Style each list item */
#important-list li {
    padding: 0px 0; /* Vertical padding for list items */
    padding-left: 10px; /* Space for bullet point */
    position: relative;
}

/* Bullet icon styling */
#important-list li::before {
    content: "•"; /* Unicode bullet point */
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    left: 0; /* Positions bullet on the left side */
}
:dir(rtl) #important-list li::before {
    content: "•"; /* Unicode bullet point */
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    right: 0; /* Positions bullet on the left side */
}
:dir(rtl) #important-list li {
    padding: 0px 0; /* Vertical padding for list items */
    padding-right: 10px; /* Space for bullet point */
    position: relative;
    line-height: 1.6;

}
@media (max-width: 768px) {
    .form-card .top-left-img{
        top: 0px !important; 
        left: 0px !important;
        width: 30px;
    }
    .form-card .bottom-right-img {
        width: 40px; 
        right: 0 !important;
        bottom: 0 !important;
    }
    .main-content {
        max-width: 100%; 
        padding: 20px;  
        box-sizing: border-box; 
    }

    .main-content h2, .main-content h3 {
        margin-left: 0;
        font-size: 12px; 
    }

    .form-button {
        width: 40%;
        font-size: 12px;
    }
 
}

@media (max-width: 480px) {
    .form-card .top-left-img{
        top: 0px !important; 
        left: 0px !important;
        width: 30px;
    }
    .form-card .bottom-right-img {
        width: 40px;
        right: 0 !important;
        bottom: 0 !important;
    }
    
    .main-content {
        max-width: 80%; 
        padding: 10px; 
    }

    .form-button {
        width: 70%;
        font-size: 10px;
    }

    .main-content h2, .main-content h3 {
        font-size: 12px; 

    }
    .main-content h1 {
        font-size: 17px; 

    }
    .main-content p {
        font-size: 9px; 

    }
    .main-content ol li {
        margin-bottom: 5px;
        font-size:8px;
    }
    .main-content ul li {
        margin-bottom: 5px;
        font-size: 8px;
    }
    .main-content p:last-of-type {
 
        font-size: 9px;
    }
    .footerfr::before {
        font-size: 12px;
    }
    .footerar::before {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    [dir="rtl"] .main-content {
        direction: rtl;
        max-width: 100%; 
        padding: 20px;  
        box-sizing: border-box; 
    }
    [dir="rtl"] .main-content h2,[dir="rtl"] .main-content h3 {
        font-size: 1.1em; 
        margin-left: 0px !important;

    }
    [dir="rtl"] h2, [dir="rtl"] h3 {
        text-align: right !important;  
        margin-right: 0px !important;
    }
    [dir="rtl"] .header-content {
        flex-direction: column;
        justify-content: space-between;
    align-items: center;
    }
}

@media (max-width: 480px) {
    [dir="rtl"] h2, [dir="rtl"] h3 {
        text-align: right !important;  
            margin-right: 0px !important;
    }
    [dir="rtl"] .main-content {
        direction: rtl;
        max-width: 80%; 
        padding: 10px; 
    }
}

